@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display:flex ;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    margin-top: 20px;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 12px;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
.logo-container h1 {
    font-family: sans-serif;
}
.sidebar {
    background: rgb(231, 139, 40);
    width: 30%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap',sans-serif ;
}
.main-img {
    width: 40%;
    margin-top: 3rem;
    margin-left: 6rem;
}
.main-title {
    transform: rotate(-90deg);
    margin-top: 10rem;
    font-size: 3rem;
    font-family:'https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap';
}
.main-info {
    transform: rotate(-90deg);
    font-family: sans-serif;
    text-align: center;
    width: 270px;
    margin-left: 7rem;
    margin-bottom: 5rem;
}